@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap');

:root {
	--clr-main-bg: #DDDFFF;
	--clr-jumbotron: hsl(240, 14.3%, 97.3%);
	--clr-heading: hsl(240,4.5%,13.1%);
	--clr-text: hsl(240, 2.2%, 26.9%);
	--clr-link: hsl(339.6, 82.2%, 51.6%);
	--clr-link-hover: hsl(10.6, 100%, 65.7%);
	--clr-grid-item: #3D43A8;
	--clr-ex-code: #FFEE58;

	--border-all: 8px solid #FAF9FF;
	--border-bottom: 3px solid hsl(240, 14.3%, 94%);
}

* {
	box-sizing: border-box;
	margin: 0;
    /*outline: solid 1px red;*/
	/*padding: 0;*/
}

body {
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
}

h1, h2 , h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: var(--clr-heading);
	margin-bottom: 1.4rem;
}

p, a, li {
	font-size: 17px;
	line-height: 26px;
}

p, ul {
	color: var(--clr-text);
	margin-bottom: 2rem;
}

a {
	text-decoration: none;
	color: var(--clr-link);
}

a:hover,
a:focus {
	text-decoration: underline;
}

code {
	color: #5c6bc0;
}

.index {
	z-index: 10;
	background-color: inherit;
}

.ex-section span {
	all: unset;
	color: #E91E63;
}

.border {
	border: 1px solid red;
}

.section {
	background: var(--clr-main-bg);
	padding: 4rem 1rem;
	border-bottom: var(--border-bottom);
}

.ex-heading {
	max-width: 600px;
	margin: 0 auto;
}

.ex {
	display: grid;
	grid-template-rows: auto 1fr;
	/*grid-row-gap: 3.5rem;*/
}

.ex:not(:last-child) {
	margin-bottom: 3rem;
}

@media screen and (min-width: 40em) {
	.ex {
		margin: 0 auto;
		max-width: 65em;
		grid-template-columns: 50% 1fr;
		grid-column-gap: 3rem;
	}
}

/*pre {
	display: block;
	overflow: scroll;
	overflow-y: hidden;
	white-space: pre;
}*/

.ex-code-mb {
	margin-bottom: 1.5rem;
	display: block;
	max-width: 92vw;
	padding-bottom: .5rem;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

.ex-code {
	color: var(--clr-text);
	font-size: 17px;
	line-height: 26px;
	background: var(--clr-ex-code);
	padding: 0.25rem 0.5rem;
	border-radius: 0.2rem;
}

.ex-aside {
	position: relative;
	border: var(--border-all);
	border-radius: 0.2rem;
	min-height: 18rem;
}



.gg-2 {
	grid-gap: 2px;
}

.grid-item {
	font-size: .8em;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .75rem;
	min-height: 3rem;
	background: var(--clr-grid-item);
	color: white;
	border-radius: 0.2rem;
}

.ex-color {
	background: #009688;
}

/* Predefined classes */
.l-0 {left: 0;}
.l-50\% {left: 50%;}
.l-33\% {left: 33%;}
.l-66\% {left: 66%;}
.r-0 {right: 0;}
.t-50\% {top: 50%;}
.l-48\% {left: 48%;}
.l-75\% {left: 75%;}
.t-33\% {top: 33%;}
.t-66\% {top: 66%;}
.t-25\% {top: 25%;}
.b-0 {bottom: 0;}
.l--5rem {left: -.5rem;}
.l--1\.3 {
	left: -1.3rem;
}
.t--5rem {
	top: -.5rem;
}
.t--1rem { top: -1rem;}
.b--5rem {bottom: -.5rem;}
.t-6rem {top: .6rem;}
.b--6rem {bottom: -.6rem;}
.mt-x {margin-top: .09375rem;}
.ml-y {margin-left: .09375rem;}
.ml--y {margin-left: -.09375rem;}
.mt--x {margin-top: -.09375rem;}

.ex__lines {
	content: '';
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.y-axis {
	position: absolute;
	width: .1875rem;
	height: 100%;
}

.y-axis {
	background: #E91E63;
}

span {
	position: absolute;
	font-size: .6875em;
	padding: .2rem .4rem;
	text-align: center;
	border-radius: .2rem;
	background: #E91E63;
	color: whitesmoke;
	transform: translateY(-50%);
}

.wide {
	width: 2000%;
	max-width: 3rem;
}


.x-axis {
	position: absolute;
	width: 100%;
	height: .1875rem;
	background: #4fc3f7;
}

.x-axis span {
	max-width: 4.4rem;
	background: #4fc3f7;
	color: #3f51b5;
	transform: translateX(-50%);
}


.ex-area {
	background: #009688;
	position: absolute;
	top: 0.8rem;
	left: 0;
}
